.btn, a.btn {
    display: inline-block;
    background-color: #01996D;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 51px;
    color:#fff;
    font-size: 20px;
    border-radius: 4px;
    transition: opacity 0.2s ease;
}

.btn:hover , a.btn:hover{
    color:#fff;
    opacity: 0.8;
    
}

.btn-big, a.btn-big {
    min-height: 65px;
    line-height: 60px;
}

@media (max-width: 991px){ 
    btn-big, a.btn-big {
        min-height: 55px;
    }
    .btn, a.btn {
        line-height: 2;
        min-height: 40px;
        padding-left: 40px;
        padding-right: 40px;
      
    }
 }